<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a [routerLink]="['']">
        <img src="assets/images/header.png" alt="Aslan">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link active navElement" aria-current="page" href="#">Hakkımızda</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active navElement" [routerLink]="['/favories']">Favoriler</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button *ngIf="checkToken()==true;" (click)="quit()" [routerLink]="['']" style="margin-right: 10px;" class="btn btn-outline-danger" type="submit">Çıkış Yap</button>
          <button *ngIf="checkToken()==false;" [routerLink]="['/login']" style="margin-right: 10px;" class="btn btn-outline-success" type="submit">Giriş Yap</button>
          <button  [routerLink]="['/register']" class="btn btn-outline-primary" type="submit">Kayıt Ol</button>
        </form>
      </div>
    </div>
  </nav>

