<h4 style="color: rgb(0, 97, 241); margin-bottom: 10px;">
    Markalar
</h4>
<input 
type="text"
 [(ngModel)]="filterBrandName"
  class="form-control" 
  id="searchText"
   placeholder="Marka ismi arayın"
   style="width: 100%; margin-bottom: 15px;"
>
<ul class="list-group">
    <li style="cursor: pointer;" (click)="setCurrentBrand(null)"
    [routerLink]="['']"
    [class]="getAllCurrentBrandClass()">
    Tüm Markalar
    </li>
    <li *ngFor="let brand of brands |brandFilter:filterBrandName" [value]="brand.id" (click)="setCurrentBrand(brand);setBrandFilterId(brand.id)" [routerLink] = "['/Cars/brand/',brand.id]"[class]="getCurrentBrandClass(brand)" style="cursor: pointer;">
        <img style="width: 30px; height: 30px; border-radius: 50%;" src="{{brand.imagePath}}" alt="Logo Sembol">
        {{brand.brandName}}
    </li>
</ul>
<br>
<h4 *ngIf="currentBrand">{{currentBrand.brandName}}</h4>