<div class="login-container">
  <h2>Giriş Yap</h2>
  <form [formGroup]="loginForm" >
    <label for="email" style="margin-bottom: 6px;">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <div style="color: red; margin-bottom: 10px;" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      Geçerli bir email giriniz.
    </div>

    <label for="password" style="margin-bottom: 6px;">Şifre:</label>
    <input id="password" type="password" formControlName="password" />
    <div style="color: red; margin-bottom: 10px;" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      Şifrenizi Girin.
    </div>
    <button type="submit" (click)="login()">Giriş Yap</button>
    <p class="error"></p>
  </form>
</div>
